[flake8]
max-line-length = 88
max-complexity = 18
exclude =
    .git,
    __pycache__,
    build,
    dist,
    reports
select = B,C,E,F,W,T4,B9
ignore =
    E203, # E203: whitespace before ‘:’
    E266, # E266: too many leading ‘#’ for block comment
    E501, # E501: line too long (82 > 79 characters)
    W503, # W503: line break before binary operator
    F401, # F401: module imported but unused
    F403  # F403: ‘from module import *’ used; unable to detect undefined names
